<!-- index2 html header 수정하고 주석풀고 실행하기!! -->
<!-- {% load static %}
        <div id="wrap">
            <header id="header" class="headerInto" style="position: fixed; top: 0px;">
                <div class="innerWrap">
                    <h1><img src="{%static 'image/main_logo.jpeg'%}" class="logo"></img></h1>
                    <ul class="gnbIntro">
                        <li><a href="http://www.snuh.org/main.do"><b>삼성병원</b></a></li>
                        <li><a href="http://child.snuh.org/main.do"><b>성모병원</b></a></li>
                        <li><a href="http://cancer.snuh.org/main.do"><b>세브란스 병원</b></a></li>
                        <li><a href="https://www.snubh.org/index.do"><b>서울대병원</b></a></li>
                        <li><a href="https://www.brmh.org/"><b>이대병원</b></a></li>
                        <li><a href="./cha/차병원.html"><b>차병원</b></a></li>
                        <li><a href="https://healthcare.snuh.org"><b>아산병원</b></a></li>
                    </ul>

                    <div class="topMenuWrap">

                        <ul class="topMenu">
                            <li class="languageBtn">
                                {% if user.is_authenticated %}
                                <a class="nav_link" href="{%url 'accounts:logout'%}">{{user.username}}(로그아웃)</a>
                                {% else %}
                                <a href="{%url 'accounts:login'%}">로그인</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
        </div>



